version: "3.8"

services:
  python-server:
    build:
      context: ./python-server
      dockerfile: Dockerfile
    command: python src/app.py
    ports:
      - "8000:8000"

  node-server:
    build:
      context: ./node-server
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
